# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.lib/
lib/64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
db.sqlite3
db.sqlite3-journal
local_settings.py
staticfiles/
media/
.env

# Environments
.venv
venv/
ENV/

# IDEs
.vscode/
.idea/

# Testing
data.json
sqlite_data.json
test_api.py
